@CHARSET "UTF-8";


body {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url('../images/spotlight-03-NR.jpg');
    background-size: cover;
	position: center;
}

#filter {
	position: left;
	
}

#adding_button {
	position: right;
}

#calendar {
	margin: auto;
	position: center;
	width : 30%;
  	height : auto;
    border-style: dashed;
	color: #004b66;
	padding-top: 5px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	
}

#header {
	text-align: center;
	position: center;
	
}



