<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>JoinIn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"          
          rel="stylesheet" media="screen" />
          
    <link href="../static/css/account_core.css"
          th:href="@{/css/account_core.css}"       
          rel="stylesheet" media="screen" />
          
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
	
	<div id="header">
		<div id="mylogo">
			<h2>   </h2>
		</div>
		
		<div id="web_name">
			<h1>Account </h1>
			<strong th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}">30/01/2001 11:11</strong>
		</div>
	
	</div>
	
		
	<div id="nav">
		
		<h3>Name:</h3>
			<form action="...">
				<input type="text" name="name" />
			</form>
		<h3>job:</h3>
			<form action="...">
				<input type="text" name="job" />
			</form>
		<h3>calendars:</h3>
			<form action="...">
				<input type="text" name="calendars" />
			</form>
		
		<div id="buttons">
			<div id="adding_button">
				<button type="button">Add account</button>
			</div>
			<div id="delete_button">
				<button type="button">Delete delete</button>
			</div>
		
		</div>
	</div>
	
	
	
</body>
</html>