<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>JoinIn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="../static/css/account_core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet" media="screen" />
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
</head>
<body>
	
	<div id="header">
		<div id="mylogo">
			<h2>   </h2>
		</div>
		
		<div id="web_name">
			<strong th:text="${#temporals.format(now, 'dd/MMM/yyyy HH:mm')}">30/01/2001 11:11</strong>
		</div>
	
	</div>
	
		
	<div id="nav">
		<div class="panel panel-default">
		
	    	<div class="panel-heading">
	        	<h3 class="panel-title">Account</h3>
	       	</div>
	       	
	    	<div class="panel-body">
	        
		        <h3>Name:</h3>
				<form action="...">
					<input type="text" name="name" />
				</form>
				
				<h3>job:</h3>
				<form action="...">
					<input type="text" name="job" />
				</form>
				
				<h3>calendars:</h3>
				<form action="...">
					<input type="text" name="calendars" />
				</form>
				
				<div id="buttons">
					<p>
						<button type="button" class="btn btn-default">Create Account</button>
						<button type="button" class="btn btn-default">Cancel</button>
							
					</p>
				</div>
				
	        </div>
	   </div>
	</div>
	
	
	
</body>
</html>